@import url('../node_modules/primeng/resources/themes/bootstrap/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.red-background {
  background-color: indianred !important;
}

.green-background {
  background-color: lightgreen !important;
}

.popup-position {
  position: relative !important;
}

.ui-button {
  width: 100%;
  float: left;
}

