<hr/>

<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-11">
      <h2 style="{color:royalblue}">Wholescale Access Interface</h2>
    </div>

    <div class="ui-grid-col-1">
      <app-logout>
      </app-logout>
    </div>
  </div>

  <hr/>

  <div class="ui-grid-row">
    <div class="ui-grid-col-1">
      <button type="button"
              pButton
              label="Back">
      </button>
    </div>

    <div class="ui-grid-col-9">
    </div>

    <div class="ui-grid-col-1">
      <app-menu-button>
      </app-menu-button>
    </div>

    <div class="ui-grid-col-1">
      <button type="button"
              pButton
              label="Home">
      </button>
    </div>
  </div>
  <hr/>
  <div class="ui-grid-row">
    <div class="ui-grid-row">
      <app-tab-views>

      </app-tab-views>
    </div>
  </div>
</div>
<hr/>
<router-outlet></router-outlet>

