<p-blockUI [blocked]="blocked"></p-blockUI>
<p-dataTable #dt [value]="entities" selectionMode="single" [(selection)]="selectedEntity" [paginator]="true" [rows]="7"
             [rowStyleClass]="rowColoredClass"
             (onRowSelect)="onRowSelect($event)">
  <p-column *ngFor="let col of columns" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable>


