<div>
  <p-menu
    #menu popup="popup"
    [appendTo]="body"
    [model]="items">
  </p-menu>
  <button type="button"
          pButton
          label="Menu"
          (click)="menu.toggle($event)">
  </button>
</div>
<p-growl [value]="msgs"></p-growl>


