<div>
  <p-dialog [(visible)]="displayDialog" modal="modal" width="500" responsive="true">
    <p-header>
      Export Data?
    </p-header>
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          Filename of report: &nbsp;
        </div>
        <div class="ui-grid-col-8">
          <p-autoComplete [size]="30" [(ngModel)]="fileName">
          </p-autoComplete>
        </div>
      </div>
    </div>

    <p-footer>
      <div class="ui-grid ui-grid-responsive ui-grid-pad">
        <div class="ui-grid-row">

          <div class="ui-grid-col-6">
            <button type="button" pButton (click)="confirmExport()" label="Yes"></button>
          </div>
          <div class="ui-grid-col-6 ">
            <button type="button" pButton (click)="cancelExport()" label="No"></button>
          </div>
        </div>
      </div>
      <hr/>
    </p-footer>
  </p-dialog>

  <div class="row">
    <div class="col-lg-12">
      <button pButton type="button" (click)="showDialog()" label = "{{fileName}}"></button>
    </div>

  </div>
  <hr/>
  <div class="col-lg-12">
    <p-tabView (onChange)="selectTab($event)">
      <p-tabPanel header="Header 1">
        <app-table-component>

        </app-table-component>
      </p-tabPanel>
      <p-tabPanel header="Header 2">
        <app-other-table>

        </app-other-table>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

